body{
    color: rgb(0, 0, 0) !important;
}
#main-booking{
    display: flex;
    display: row;
    justify-content: space-around;
    margin: 70px 0;
}
.left-space .image-holder, .right-space .book-form{
    width: 100%;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 8px; 
    background-color: beige;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.644);
}
.left-space{
    width:45%;

}
.right-space{
    width:50%;
}
.suites-title h2, .form-title h2{
    font-size: 28px;
    text-align: center;
    margin: 10px 0 20px 0;
}
.rev-horizental{
    height: 4px;
    width: 5vw;
    background: rgb(44, 28, 187);
    margin: -19px 0px 14px 230px;
    border-radius: 6px;
  
  }
.suites-main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 20px;
}
#main-booking img{
    width:180px;
    height:110px;
    border-radius: 8px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.644);
}
#main-booking .content-container h2{
    font-size: 14px;
    text-align: center;
    margin: 5px 0 0 0;
}

/* right content */
.book-form{
    background-image: url(../images/resort-top-view_blurred.jpg);
    background-size: cover;
    background-position: center;
    
}
.form-horizental{
    height: 4px;
    width: 8vw;
    background: rgb(44, 28, 187);
    margin: -19px 0px 50px 260px;
    border-radius: 6px;
  
}
.form-margin{
    margin-bottom: 30px;
}


#roomType, #checkInDate, #checkOutDate, #numberOfRooms, #numberOfGuests, #nameForBooking{
    font-size: 16px;
    border-radius: 100px;
    width: 300px;
    height: 55px;
    text-align: center;
    margin: 0 0 30px 0;
    
}

.numbers-holder,.booking-dates,.select-name{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    
}
.booking-btn{
    width: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: rgb(51, 135, 230);
    margin-left: 41%;
    font-size: 1.5rem;
    margin-bottom: 20px;
    margin-top: 45px;
}
.booking-btn:hover{
    color: beige;
    background-color: rgb(79, 79, 223);
}
.form-group p{
    font-size: 18px !important;
    color: rgb(0, 38, 206);
}