/* overall footer */

footer{
    display: flex;
    justify-content: space-between;
    height: 60vh;
    background: #b0afee;
  }
  
  footer .vertical{
    height: 56vh;
    width: 3px;
    background: rgb(170, 168, 190);
    margin: 16px 2px;
    
  }
  
  /* left-section, signature */
  .left-section{
    margin-left: 12px;
    width: 25%;
    margin-top: 40px;
  }
  
  .left-section .sign-h2{
    color: #000000;
    font-family: 'DM Serif Display', serif;
    font-size: 2.5rem;
    text-align: center;
    margin: 20px 0;
  }
  
  .left-section .sign{
    width: 100%;
  }
  
    
  
  /* mid section */
  .mid-heading {
    text-align: left;
    color: #000000;
    font-size: 2rem;
    margin: 100px 0 40px 0;
  
  }

  
  .mid-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 40%;
  }
  
  .sub-sections {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    margin-top: -50px;
  }
  
  .mid-left {
    width: 40%; /* Adjust the width as needed */
    margin: 0;
    height: 50vh;
  }
  
  .mid-right {
    width: 55%; /* Adjust the width as needed */
    margin-bottom: 20px;
    height: 50vh;
  }
  
  /*  social media*/
  .image-row {
    display: flex;
    justify-content: space-around;
    margin: 20px 10px 30px 0px;
  }
  
  .icon-box {
    width: 48%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .icon-box img {
    width: 45px;
    height: 45px;
  }
  
  .mid-footer .mid-vertical{
    height: 40vh;
    width: 3px;
    background: rgb(170, 168, 190);
    margin: 0 0 100px 0;
    
  }
  
  /* mid right */
  .mid-right{
    margin-top: 80px;
  }
  .mid-footer .sub-sections h2{
    color: #000000;
    font-family: 'DM Serif Display', serif;
    margin-bottom: 20px;
    text-align: center;
  
  }
  .mid-footer .email{
    font-style: italic;
    font-size: 1.8rem;
    color: rgb(46, 46, 206);
  }
  .mid-footer .number{
    font-size: 1.8rem;

  }
  .mid-footer .location{
    font-size: 2rem;
  }

 .mid-footer .number:hover{
    color: #2980b9;
    text-decoration: underline;
    cursor: pointer;
 }
 .mid-footer .email:hover{
    color: #2980b9;
    text-decoration: underline;
    cursor: pointer;
 }
  
  /* footer, contact form */
  
  .contact-h2{
    text-align: left;
    color: #000000;
    margin: 20px 0;
    font-size: 1.8rem;
  }
  .right-section .horizental{
    height: 3px;
    width: 6vw;
    background: rgb(44, 28, 187);
    margin: -17px 0px 16px 6px;
  }
  .right-section{
    width: 30%;
    margin: 0 20px;
  }
  
  #contactForm {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  form .full-name{
    display: flex;
    justify-content: space-between;
  }
  label {
    margin-top: 10px;
    color: #333;
  }
  form #name{
    width: 35%;
  }
  #contactForm{
    font-family: Helvetica, sans-serif;
  }
  input,
  textarea {
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #2980b9;
  }
  
  .end {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px; /* Adjust the height as needed */
    background-color:#000129;
  }
  
  .vertical-end {
    text-align: center;
    color: #ffffff;
    font-size: 14px;
    margin: 0;
    background-color:#000129;
  }
  