.main-block{
    width: 100%;
    height: 95vh;
}

body{
    background-image: url(/images/resort-blur.jpg);
    background-size: cover;
}

.wrapper {
    margin: 120px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 500px;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.wrapper h1{
    font-size: 2rem;
    margin: -20px 0 60px 0;
    color: black;
}

#login-form {
    width: 100%;
}

.field {
    margin-bottom: 20px;
}

label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #5372F0;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #2c52ed;
}
