* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: beige;
  color: rgb(56, 56, 56);
  font-family: 'Montserrat', sans-serif;
  
}

/* alert */
#success-alert{
  text-align: center;
  width: 30%;
  margin: 70px auto;
  font-size: 20px;
  border-radius: 8px ;
  border: 1px solid rgb(6, 131, 58);
  background-color: rgba(29, 219, 86, 0.432);
}
#error-alert{
  text-align: center;
  width: 30%;
  margin: 70px auto;
  font-size: 20px;
  border-radius: 8px;
  border: 1px solid rgb(218, 18, 18);
  background-color: rgba(233, 25, 25, 0.555);
}

/* nav bar  */

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 59px;
  background-color: rgb(255, 252, 252);
  position: fixed;
  width: 100%; 
  top: 0; 
  z-index: 1000; 

}

nav ul {
  display: flex;
  justify-content: center;
}

nav ul li {
  list-style: none;
  margin: 0 24px;
  position: relative;
}

nav ul li a {
  text-decoration: none;
  color:rgb(0, 0, 0);
}

/* Style for the submenu */
nav ul ul {
  box-sizing: content-box;
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease, opacity 0.3s ease;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #7884f0;
  border-radius: 10px;
  margin-top: 10px;
  z-index: 2;
  margin-top: 1px; 
  width: 150px;
}

nav ul ul li {
  width: 100%;
  margin: 10px 0; /* Adjust spacing as needed */
}

nav ul ul li a {
  display: block; /* Make the links fill the width of the submenu */
  padding: 10px; /* Add padding for better readability */
}

nav ul li:hover > ul {
  display: block;
  max-height: 200px; 
  opacity: 1;
}


nav .mid ul li a{
  transition: color 0.3s ease-in-out;
}
nav .mid ul li a:hover {
  text-decoration: none;
  color: rgb(83, 53, 214);
}

nav .left li {
  text-decoration: none;
  list-style: none;
}

nav .left:hover {
  text-decoration: none;
}

nav .right .book-img {
  height: 40px;
}
